select option {
  background-color: #171717;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #171717 inset;
  transition: background-color 5000s ease-in-out 0s;
}